.sidebar {
    width: 250px;
    transition: width 0.3s ease-in-out;
}
.sidebar.collapsed {
    width: 80px;
}
.sidebar.collapsed .sidebar-text {
    display: none;
}
.sidebar.collapsed .sidebar-icon {
    margin: auto;
}
html {
    scroll-behavior: smooth;
}
.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small-chart {
    width: 30%;
}
.bar-chart {
    width: 65%;
}